.menucontainer{
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(255, 255, 255);
    display:inline-block;
    border-radius: 8px;
}
.expand{
    width: 250px;
    height: 30px;
    float: left;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: border-radius 0.5s, width 0.5s;
}
#userbox{
    background-color:rgb(255, 255, 255);
    border: 2px solid black;
    width: 95%;
    height: 675px;
}

#userimage{
    position: relative; 
    width: 60%; 
    height: 60%;
    padding: 2%; 
  
}

.hidden { 
    display: none; 
}

.mySlides {
    display: none;
}

.slideshow{
    border: 2px solid black;
}

.buttonleft{
    margin-top: -50px;
}

#abouttext{
    font-size:30px;
    text-decoration-line: underline;
}

#button2{
    background-color:rgb(255, 253, 253);
    width: 320px;
    height: 60px;
    font-size: 25px;
}

#button1{
    background-color:rgb(255, 253, 253);
    width: 320px;
    height: 60px;
    font-size: 25px;
    transition: border-radius 0.5s, width 0.5s, font-size 0.5s, background-color 0.5s;
}
#button1:hover {
    background-color: rgb(250, 237, 228);
    font-size: 1.2em;
    width: 350px;
    border-radius: 12px;
}

#button2{
    background-color:rgb(255, 253, 253);
    width: 320px;
    height: 60px;
    font-size: 25px;
    margin-top: 5px;
    transition: border-radius 0.5s, width 0.5s, font-size 0.5s, background-color 0.5s, margin-top 0.5s;
}
#button2:hover {
    background-color: rgb(250, 237, 228);
    font-size: 1.2em;
    width: 350px;
    border-radius: 12px;
    margin-top: 10px;
}

.navbutton{
    background-color:rgb(255, 253, 253);
    margin-top: 10px;
    width:80px;
    height:50px;
    font-size: 20px;
    border-radius: 8px;
    transition: border-radius 0.5s, background-color 0.5s;
}

.navbutton:hover{
    background-color: rgb(250, 237, 228);
    border-radius: 12px;
}