#menucontainer{
    margin-top: 150px;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(247, 255, 246);
    display:inline-block;
    border-radius: 8px;
}

#enginemenu{
    width: 130px;
    height: 90px;
    float: left;
    border: 2px solid black;
    margin-right: 3px;
    background-color: rgb(234, 255, 242);
    border-radius: 8px;
    transition: border-radius 0.5s, width 0.5s;
}
#enginemenu:hover {
    background-color: rgb(199, 241, 241);
    width: 140px;
    border-radius: 18px;

}
#gamemenu{
    width: 130px;
    height: 90px;
    float: right;
    border: 2px solid black;
    margin-left: 3px;
    background-color: rgb(234, 255, 242);
    border-radius: 8px;
    transition: border-radius 0.5s, width 0.5s;
}
#gamemenu:hover {
    background-color: rgb(199, 241, 241);
    width: 140px;
    border-radius: 18px;
}
.text {
    font-family: verdana;
    margin-top: 30px;
    font-size: 26px;
    text-decoration-line: none;
    color: black
}

#gametitle {
    font-family: verdana;
    font-size: 30px;
    margin-top: 60px;
    margin-right: 200px;
    text-decoration-line: underline;
}

#gamebox1 {
    background-color: rgb(247, 255, 246);
    border: 2px solid black;
    border-radius: 4px;
    width: 210px;
    height: 70px;
    margin-top: -50px;
    margin-left: 90px;
}

#gamebox2 {
    background-color: rgb(247, 255, 246);
    border: 2px solid black;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    margin-top: 10px;
    margin-left: 00px;
}