* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    overflow: auto; 
}

html { 
    background-color: rgb(255, 255, 255); 
}

body { 
    background-color: rgb(230, 249, 255);  
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100vw; 
    height: 100vh; 
    max-width: 100%;
    font-size: calc(1vw + 1vh);
    /* font-family: arial; */ 
}
.grad {
    background-image: linear-gradient(to bottom, rgba(206, 225, 246, 0.103) , rgba(255, 214, 147, 0.308));
}
.mainBody { 
    background-color: rgba(243, 243, 243, 0.753); 
    position: relative; 
    top: 11%; 
    width: 96%; 
    height: 90%; 
    padding: 2.5% 4.5% ;   
    font-size: 1.5em; 
    border-radius: 5px;
}
.title { 
    text-align: center;
    text-decoration: underline; 
    margin: 2.5% 2.5% 0; 
    font-size: 1.65em;
}

.links { 
    background-color:rgba(255, 255, 254, 0.753);  
    border: 2px solid #d4dfe7;
    border-radius: 4px;
    position: fixed; 
    width: 100%; 
    height: 8.5%; 
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-evenly;
    flex-grow: 1; 
    flex-shrink: 1;
    /* background-image: linear-gradient(to left, rgb(177, 177, 177) , rgb(46, 46, 46)); */ 
}
.navigation { 
    background-color: rgb(234, 241, 253); 
    width: 100%; 
    margin: 2% 1.5%;
    border-radius: 15%; 
    font-size: 1em; 
}
.navigation:hover { 
    background-color: lightblue; 
}
.inspiration { 
    position: relative; 
    width: 100%; 
    padding: 5%; 
    border-radius: 10%; 
}
.bodyText { 
    font-size: 1em; 
    color: blue; 
    text-align: center;
}

.settingBox { 
    position: absolute; 
    z-index: 2; 
    width: 80%; 
    height: 88%; 
    top: 12%; 
    left: 10%; 
    background-color: rgba(224, 224, 224, 0.911);
    text-align: center; 
    backdrop-filter: blur(10px);
    
}

.settingTitle { 
    font-size: 3em; 
    margin: 5%; 
    text-decoration: underline;
    
}

.settingBox > button { 
    font-size: 1em; 
    padding: 2.5%; 
    border-radius: 15%;
    margin: 2.5%; 
}

.hidden { 
    display: none; 
}

.blur { 
    filter: blur(100px)
}
.invert { 
    filter: invert(100%);
}

/* ---------------------------------------------- Landscape Mode on Mobile -----------------------------------------------*/ 
@media only screen and (orientation: landscape) and (min-width: 6in) and (max-width: 12in) {
    body { 
        font-size: calc(1.85vw + 1.85vh); 
    }
    .mainBody { 
        top: 25%;
        border-radius: 12px;
        font-size: 0.85em; 
        min-height: 0;
        height: 70%; 
    }
    .links { 
        height: 20%; 
        z-index: 1; 
    }
    #one { 
        color: red; 
    }
  }
/* ---------------------------------------------- PC Mode ---------------------------------------------------------------------------*/ 
  @media only screen and (min-width: 12in) { 
      body { 
          font-size: calc(0.65vw + 0.65vh);
      }
    .mainBody { 
        top: 15%; 
        width: 45%; 
        padding: 2%; 
        min-height: 0; 
        height: 80%; 
        margin: 0; 
        border-left: 2px solid black; 
        border-right: 2px solid black; 
    }
    .links { 
        height: 12%; 
         /* background-image: linear-gradient(to right, rgb(177, 177, 177) , rgb(46, 46, 46)); */ 
         background-color: rgba(255, 255, 254, 0.753); 
         border: 2px solid rgb(185, 217, 235);
    }
    .navigation { 
        margin: 1.5% 1.5%; 
        width: 15%; 
        border-radius: 11%; 
        border-width: 6px;
        border-style: outset;
        border-color:  rgba(55, 180, 230, 0.219);
        background-color: rgba(151, 206, 243, 0.481);
        transition: border-radius 0.5s, font-size 0.5s, background-color 0.5s, border-style 0.5s;
    }
    .navigation:hover{
        border-radius: 3%; 
        border-width: 6px;
        border-style:groove;
        font-size: 20px;
        border-color:  rgba(105, 105, 105, 0.419);
        background-color: rgba(228, 228, 228, 0.481);
    }
    .inspiration { 
        position: relative; 
        width: 70%; 
        left: 15%;
        margin: auto; 
    }
    .engineImages { 
        position: relative; 
        bottom: 50em; 
    }  
    .settings > button { 
        margin: 0.5%; 
    }
  }














